@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

@font-face {
  font-family: "HeadLine";
  src: url("./fonts/IstokWeb-Regular.ttf"), format("truetype");
}
